# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [18]:
df = pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [19]:
df.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [21]:
pd.DataFrame(df.columns)

                   0
0                 Id
1       EmployeeName
2           JobTitle
3            BasePay
4        OvertimePay
5           OtherPay
6           Benefits
7           TotalPay
8   TotalPayBenefits
9               Year
10             Notes
11            Agency
12            Status

In [22]:
df["BasePay"].describe()
round(df["BasePay"].mean().item(), ndigits=2)

66325.45

** What is the highest amount of OvertimePay in the dataset ? **

In [23]:
df["OvertimePay"].max().item()
df["OvertimePay"].describe()

count    148650.000000
mean       5066.059886
std       11454.380559
min          -0.010000
25%           0.000000
50%           0.000000
75%        4658.175000
max      245131.880000
Name: OvertimePay, dtype: float64

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [24]:
df[df["EmployeeName"] == "JOSEPH DRISCOLL"]["JobTitle"].item()

'CAPTAIN, FIRE SUPPRESSION'

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [25]:
df[df["EmployeeName"] == "JOSEPH DRISCOLL"]["TotalPayBenefits"].item()

270324.91

** What is the name of highest paid person (including benefits)?**

In [26]:
max = df["TotalPayBenefits"].max()
df[df["TotalPayBenefits"] == max]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [27]:
min = df["TotalPayBenefits"].min()
df[df["TotalPayBenefits"] == min]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [28]:
df.groupby("Year")["BasePay"].mean().apply(lambda x: round(x, 2))

Year
2011    63595.96
2012    65436.41
2013    69630.03
2014    66564.42
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [29]:
len(df.value_counts("JobTitle"))

2159

** What are the top 5 most common jobs? **

In [30]:
df.value_counts("JobTitle").sort_values(ascending=False).head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [31]:
# One way
len((df[(df["Year"] == 2013)].value_counts("JobTitle") == 1).loc[lambda x: x])

# Another way
total_counts = df[(df["Year"] == 2013)].value_counts("JobTitle")
filtered = total_counts.apply(lambda x: x == 1)
len(total_counts[filtered])

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [32]:
# Remember to split strings to check words

def check_chief(str):
    if 'chief' in str.lower().split():
        return True
    else:
        return False

sum(df["JobTitle"].apply(lambda x: check_chief(x)))

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [43]:
df["JobTitle"].apply(lambda x: len(x))
df["JobTitleLength"] = df["JobTitle"].apply(lambda x: len(x))
df["JobTitleLength"]
df[["JobTitleLength", "TotalPayBenefits"]].corr()


# df[["JobTitle","TotalPayBenefits"]]

                  JobTitleLength  TotalPayBenefits
JobTitleLength          1.000000         -0.036878
TotalPayBenefits       -0.036878          1.000000

# Great Job!